/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  letter-spacing: 1px; }

a {
  text-decoration: none; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 100vh;
  background-size: cover;
  background-position: left;
  background-image: url("../img/dog.jpg"); }
  .hero h1 {
    font-size: 5em; }
  .hero h3 {
    font-size: 3.5em; }
  .hero h1, .hero h3 {
    margin: 10px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #212121;
    text-shadow: 1px 1px #f4f4f4; }
  .hero svg {
    height: 225px;
    width: 225px;
    fill: #212121; }

.hero-nav-buttons {
  margin: 50px; }
  .hero-nav-buttons .hero-nav-link {
    color: #212121;
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    transition: all 200ms ease-in-out;
    padding: 15px 100px;
    background: rgba(121, 167, 140, 0.9); }
    .hero-nav-buttons .hero-nav-link:hover {
      color: #abf0c7;
      background: #79a78c; }

.main-nav {
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  background: rgba(121, 167, 140, 0.3); }
  .main-nav svg {
    width: 50px;
    height: 50px;
    fill: #f4f4f4;
    margin: 20px;
    transition: all 200ms ease-in-out; }
    .main-nav svg:hover {
      fill: #abf0c7; }

.nav-link {
  color: #f4f4f4;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  transition: all 200ms ease-in-out;
  margin: 30px;
  padding: 30px;
  border: 1px solid white; }
  .nav-link:hover {
    color: #abf0c7;
    background: #79a78c; }

.footer {
  background: #68C3A3;
  padding: 1em; }

.footer p {
  font-size: 1.0em;
  margin: 0;
  padding-top: .25em; }

.footer p strong {
  font-size: 1.1em; }

.footer img {
  max-width: 100%;
  width: 175px;
  border-radius: 50%;
  transform: translateY(13%);
  /*border:5px solid rgba(5,5,5,0.5);*/ }

body {
  background: #f4f4f4; }

.service-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.service-img {
  background-image: url("../img/pug.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 100vh; }

/*# sourceMappingURL=main.css.map */
