/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  letter-spacing: 1px; }

body::-webkit-scrollbar {
  display: none; }

a {
  text-decoration: none; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 100vh;
  background-size: cover;
  background-position: left;
  background-image: url("../img/dog.jpg"); }
  .hero h1 {
    font-size: 5em; }
  .hero h3 {
    font-size: 3.5em; }
  .hero h1, .hero h3 {
    margin: 10px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #212121;
    text-shadow: 1px 1px #f4f4f4; }
  .hero svg {
    height: 225px;
    width: 225px;
    fill: #212121; }

.hero-nav-buttons {
  margin: 50px; }
  .hero-nav-buttons .hero-nav-link {
    color: #212121;
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    transition: all 200ms ease-in-out;
    padding: 15px 100px;
    background: rgba(121, 167, 140, 0.9); }
    .hero-nav-buttons .hero-nav-link:hover {
      color: #abf0c7;
      background: #79a78c; }

.main-nav {
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  background: rgba(121, 167, 140, 0.3); }
  .main-nav svg {
    width: 50px;
    height: 50px;
    fill: #f4f4f4;
    margin: 20px;
    transition: all 200ms ease-in-out; }
    .main-nav svg:hover {
      fill: #abf0c7; }

.nav-link {
  color: #f4f4f4;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  transition: all 200ms ease-in-out;
  margin: 20px;
  padding: 20px; }
  .nav-link:hover {
    color: #abf0c7; }

.page-header {
  text-align: left;
  font-size: 3em;
  font-family: 'Playfair Display', serif;
  margin: 20px; }

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: #f4f4f4;
  height: 50px;
  width: 100%;
  background: rgba(121, 167, 140, 0.4); }

body {
  background: #f4f4f4; }

.service-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }

.service-img {
  background-image: url("../img/pug.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;
  height: 100vh; }

.service-list-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 100vh;
  background-color: #c9c9c9; }

.service-list {
  padding: 20px;
  width: 70%;
  background: rgba(244, 244, 244, 0.5); }

.service-list-styles {
  line-height: 25px; }

#dentistry-list-item,
#laboratory-list-item,
#surgery-list-item,
#fertility-list-item,
#internal-list-item {
  cursor: pointer; }
  #dentistry-list-item:hover,
  #laboratory-list-item:hover,
  #surgery-list-item:hover,
  #fertility-list-item:hover,
  #internal-list-item:hover {
    color: #f4f4f4; }

#dentistry-sub-list,
#laboratory-sub-list,
#surgery-sub-list,
#fertility-sub-list,
#internal-sub-list {
  display: none;
  color: #212121;
  text-indent: 10px;
  font-size: 0.8em; }

/*# sourceMappingURL=main.css.map */
