body{
  background: $white;
}

.service-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.service-img{
  background-image: url('../img/pug.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;
  height: 100vh;
}

.service-list-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 100vh;
  background-color: $grey;
}

.service-list{
  padding: 20px;
  width: 70%;
  background: rgba($white, 0.5);
}

.service-list-styles{
  line-height: 25px;
}

#dentistry-list-item,
#laboratory-list-item,
#surgery-list-item,
#fertility-list-item,
#internal-list-item{
  cursor: pointer;
  &:hover{
    color:$white;
  }
}

#dentistry-sub-list,
#laboratory-sub-list,
#surgery-sub-list,
#fertility-sub-list,
#internal-sub-list{
  display: none;
  color: $black;
  text-indent: 10px;
  font-size: 0.8em;
}
