body{
  background: $white;
}

.service-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.service-img{
  background-image: url('../img/pug.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 100vh;
}

.service-list{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  background-color: $grey;
}

#dentistry-sub-list,
#laboratory-sub-list,
#surgery-sub-list,
#fertility-sub-list,
#internal-sub-list{
  display: none;
  color: goldenrod;
  text-indent: 20px;
}
