footer{
  position: fixed;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: $white;
  height: 50px;
  width: 100%;
  background: rgba($dark-magic-mint, 0.4);
}
