.header{
  height: 100vh;
  /*min-height: 375px;*/
  background-size: cover;
  background-position: left;
  background-image: url("../img/dog.jpg");
  position: relative;
}

.header h1,
.header h3 {
  margin: 0;
  text-align: center;
  font-size: 3.5em;
  position: relative;
  top: 80vh;
  color: rgba(255,255,255,0.7);
  text-shadow:  2px 2px 5px black;
  font-family: 'Raleway', sans-serif;
}

.header h3 {
  font-size: 2.5em;
}
