.main-nav{
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  background: rgba($dark-magic-mint, 0.3);
  svg{
    width: 50px;
    height: 50px;
    fill: $white;
    margin: 20px;
    transition: all 200ms ease-in-out;
    &:hover{
      fill: $magic-mint;
    }
  }
}

.nav-link{
  color: $white;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  transition: all 200ms ease-in-out;
  margin: 30px;
  padding: 30px;
  border: 1px solid white;
  border-radius: 5px;
  &:hover{
    color: $magic-mint;
    background: $dark-magic-mint;
  }
}
